@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
.body {
    font-family: 'Muli', sans-serif;
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid rgb(14, 1, 1);
    
  }
    
  td {
    text-align: center;
    padding: 10px;
    font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;
    
  }
  .col-3{float: left; width: 27.33%; margin: 40px 3%; position: relative;
  }
  